<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<% if (message !== null && messageType !== null) { %>
  <script>
    Toastify({
      text: "<%= message %>",
      backgroundColor: "<%= messageType === 'success' ? '#4CAF50' : '#FF6347' %>", // Success = Green, Error = Red
      duration: 3000,  
      close: true,     

    }).showToast();
  </script>
<% } %>



<div class="buttons">
  <div>
    <span onclick="refreshModem()">Actualiser</span>
  </div>
  <div>
    <span onclick="confirmDeleteModem()">Supprimer le modem</span>
    <span onclick="CreateQrCodes()">Generer les Qr Code</span>
  </div>
</div>

<section id="Manage">
  <% if (data && data.length > 0) { %>
    <h2 class="toggle-section">Mes réseaux</h2>
    <div class="section-content">
      <div class="headManage">
        <span>Nom réseau</span>
        <span>Cryptage</span>
        <span>Affichage</span>
        <span>Fréquence</span>
        <span>Mot de passe</span>
      </div>
      <div>
        <ul class="manageData">
          <% data.forEach((network) => { %>
            <% if (network.enableChecked === true) { %>
              <li class="data">
                <span><%= network.essid %></span>
                <span><%= network.encryptionType %></span>
                <span><%= network.essidHideEnabled ? 'Privé' : 'Public' %></span>
                <span><%= network.frequency %></span>
                <span><%= network.password %></span>
              </li>
            <% } %>
          <% }) %>
        </ul>
        
      </div>
    </div>

    <h2 class="toggle-section">Créer un réseau</h2>
    <div class="section-content newnet">
      <form method="post" action="/app/manage/newWifi">
        <div class="row">
          <div class="input-group input-group-icon">
            <input type="text" placeholder="Nom réseau" name="nomReseau" required />
            <div class="input-icon">
              <i class="fas fa-wifi"></i>
            </div>
          </div>
    
          <div class="input-group">
            <select id="network-visibility-select" name="networkVisibility">
              <option value="" disabled selected>Affichage</option>
              <option value="public">Public</option>
              <option value="private">Privé</option>
            </select>
    
            <select id="network-frequency-select" name="networkFrequency">
              <option value="" disabled selected>Fréquence</option>
              <option value="2.4">2.4GHz</option>
              <option value="5">5GHz</option>
            </select>
    
            <select id="network-security-select" name="networkSecurity" style="display: none;">
              <option value="" disabled selected>Sécurité</option>
              <option value="WPA2-PSK-AES">WPA2-PSK-AES</option>
              <option value="WPA2/WPA3-SAE">WPA2/WPA3-SAE</option>
              <option value="WPA3">WPA3</option>
              <option value="WPA/WPA2-PSK-AES">WPA/WPA2-PSK-AES</option>
              <option value="None">Aucune</option>
            </select>
    
            <select id="network-payment-select" name="networkPayment">
              <option value="" disabled selected>Payement</option>
              <option value="free">Gratuit</option>
              <option value="paid">Payante</option>
            </select>
          </div>
    
          <div class="input-group input-group-icon" id="price-group" style="display: none;">
            <input type="number" id="prix" name="prix" placeholder="Prix (en FCFA)" step="100" min="1000" />
            <div class="input-icon">
              <i class="fa fa-money-bill"></i>
            </div>
          </div>
          <div class="input-group input-group-icon">
            <label for="scannable">Scannable</label>
            <input style="display: block; width: 10%;" type="checkbox" name="scannable" id="scannable" />
          </div>
    
          <div class="input-group input-group-icon" id="mac-address-group" style="display: none;">
            <label for="">Adresse Mac</label>
            <div style="display: flex;align-items: center;">
              <input class="mac" type="text" placeholder="XX" name="macAddress1" maxlength="2" size="2" />:
              <input class="mac" type="text" placeholder="XX" name="macAddress2" maxlength="2" size="2" />:
              <input class="mac" type="text" placeholder="XX" name="macAddress3" maxlength="2" size="2" />:
              <input class="mac" type="text" placeholder="XX" name="macAddress4" maxlength="2" size="2" />:
              <input class="mac" type="text" placeholder="XX" name="macAddress5" maxlength="2" size="2" />:
              <input class="mac" type="text" placeholder="XX" name="macAddress6" maxlength="2" size="2" />
            </div>
          </div>
    
          <div class="input-group input-group-icon">
            <input type="password" placeholder="Mot de passe" name="newpasseword" required />
            <div class="input-icon">
              <i class="fa fa-key"></i>
            </div>
          </div>
        </div>
    
        <div class="row">
          <button class="button" type="submit">Créer</button>
        </div>
      </form>
    
      <script>
        
        // Afficher ou masquer le champ de prix si Payement est Payant
        document.getElementById('network-payment-select').addEventListener('change', function () {
          const priceGroup = document.getElementById('price-group');
          priceGroup.style.display = this.value === 'paid' ? 'block' : 'none';
        });
      </script>
    </div>
    
    

    <h2 class="toggle-section">Supprimer un reseau</h2>
    <div class="section-content newnet">
      <form method="post" class="columnStyle" action="/app/manage/deleteWifi">
        <select name="networkDelete">
          <option value="" disabled selected>Réseau</option>
          <% 
            data.forEach((network) => { 
              if (network.enableChecked) { 
          %>
                <option value="<%= network.essid %>"><%= network.essid %></option>
          <% 
              }
            }); 
          %>

        </select>
        <button class="button" style="width: 35%;"  type="submit">Supprimer le reseau</button>
      </form>
    </div>

    <h2 class="toggle-section">Modifier mot de passe</h2>
    <div class="section-content newnet">
      <form method="post" action="/app/manage">
        <select name="network">
          <option value="" disabled selected>Réseau</option>
          <% 
            data.forEach((network) => { 
              if (network.enableChecked) { 
          %>
                <option value="<%= network.essid %>"><%= network.essid %></option>
          <% 
              }
            }); 
          %>
        </select>
        <div class="row">
          <div class="input-group input-group-icon">
            <input type="password" placeholder="Nouveau mot de passe" name="newpassword" />
            <div class="input-icon">
              <i class="fa fa-key"></i>
            </div>
          </div>
        </div>
        <div>
          <button class="button" type="submit">Changer</button>
        </div>
        
      </form>
    </div>
    
  <% } else { %>
    <h1>Aucune donnée</h1>
  <% } %>
</section>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/sweetalert.js" defer></script>






